<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/reset.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="css/main.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/homeController.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/departmentController.js"></script>
    <script src="js/controllers/cathedralController.js"></script>
    <script src="js/controllers/questionnaireController.js"></script>
    <script src="js/controllers/questionnaireNewController.js"></script>
    <script src="js/controllers/questionnaireDetailController.js"></script>
    <script src="js/controllers/questionnaireSolveController.js"></script>
    <script src="js/controllers/questionnaireStatsController.js"></script>
    <script src="js/controllers/accountController.js"></script>
    <script src="https://vitalets.github.io/checklist-model/checklist-model.js"></script>

</head>
<body class="mainView" ng-app="app">

<div class="container-fluid ">
    <div class="row-fluid">
        <header>
            <div class="col-md-2 logo"><h2><span>PRZ</span>Questioner</h2></div>
            <div class="col-md-10"></div>
        </header>
    </div>

    <div class="row-fluid screen" ng-controller="mainController">
        <div class="col-md-2 sidebar">
            <div class="user">
                <h6><a href="#!/account">{{currentUser.firstName}} <br>{{currentUser.lastName}}</a></h6>
                <a href="/logout">Wyloguj</a>
            </div>
            <div class="header">Nawigacja</div>
            <ul>
                <li><a href="#"><span>Strona główna</span></a></li>
                <li><a href="#!/departments" ng-show="currentUser.role=='ADMIN'" ><span>Departamenty</span></a></li>
                <li><a href="#!/cathedrals"  ng-show="currentUser.role=='ADMIN'" ><span>Katedry</span></a></li>
                <li><a href="#!/questionnaires"><span>Ankiety</span></a></li>
            </ul>
        </div>

        <div ng-view=""></div>

    </div>
</div>

<script src="/js/main.js "></script>
</body>
</html>