<div class="col-md-10 mainView">
    <h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>
    <h3>Nazwa użytkownika: {{currentUser.username}}</h3>

    <form>


        <div class="form-group">
            <label>Imię: </label>
            <input  class="form-control" type="text" ng-model="user.firstName" ng-value="user.firstName"><br>
        </div>

        <div class="form-group">
            <label>Nazwisko: </label>
            <input class="form-control" type="text" ng-model="user.lastName" ng-value="user.lastName"><br>
        </div>

        <div class="form-group">
            <label>Departament: </label>
            <select class="form-control" ng-model="user.departmentId">
                <option ng-repeat="department in departments" ng-value="department.id" >{{department.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Katedra: </label>
            <select class="form-control" ng-model="user.cathedralId">
                <option ng-repeat="cathedral in cathedrals" ng-value="cathedral.id" >{{cathedral.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Hasło: </label>
            <input class="form-control" type="password" ng-model="user.password" >
        </div>

        <button class="btn btn-primary" ng-click="update()">Zapisz</button>
    </form>

</div>