<div class="col-md-10 mainView">

    <h1>Katedry</h1>
    <form>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Nazwa" ng-model="cat.name"/>
            <select class="form-control" name="depSelect" ng-model="cat.department" ng-options="d.name for d in departments"></select>
        </div>
        <button class="btn btn-success" ng-click="addCat(cat)">Dodaj</button>
    </form>




    <div class="box box-primary" style="position: relative; left: 0px; top: 0px; margin-top: 50px;">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-clipboard"></i>
            <h3 class="box-title">Lista katedr</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul class="todo-list" ng-show="cathedrals.length > 0">
                <li ng-repeat="c in cathedrals">
                    <span class="text"> <p ng-click="deleteDep(c)">{{c.name}}</p></span>
                </li>
            </ul>
            <h3 ng-show="cathedrals.length <= 0">Brak katedr</h3>
        </div>
        <!-- /.box-body -->
    </div>




</div>