<div class="col-md-10 mainView">
    <div class="row">
        <div class="col-md-2">
            <h2>Dashboard</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{dashboard.questionnairesCount}}</h3>

                    <p>Liczba ankiet</p>
                </div>
                <div class="icon">
                    <i class="fa fa-briefcase"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{dashboard.employeesCount}}</h3>

                    <p>Liczba pracowników</p>
                </div>
                <div class="icon">
                    <i class="fa fa-signal"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{dashboard.departmentsCount}}</h3>

                    <p>Liczba departamentów</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{dashboard.cathedralsCount}}</h3>

                    <p>Liczba katedr</p>
                </div>
                <div class="icon">
                    <i class="fa fa-hand-peace-o"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>


    <div class="box box-primary" style="position: relative; left: 0px; top: 0px;">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-clipboard"></i>
            <h3 class="box-title">Ankiety</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul class="todo-list">

                <li ng-repeat="task in tasks">
                    <span class="text"><a href="#!/questionnaire/solve/{{task.questionnaireId}}">{{task.questionnaireName}}</a></span>
                </li>
            </ul>
        </div>
        <!-- /.box-body -->
    </div>



</div>