<div class="col-md-10 mainView">

    <h1>Departamenty</h1>
    <form>
        <input type="text" placeholder="nazwa" ng-model="dep"/><button ng-click="addDep(dep)">Dodaj</button>
    </form>




    <div class="box box-primary" style="position: relative; left: 0px; top: 0px; margin-top: 50px;">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-clipboard"></i>
            <h3 class="box-title">Lista departamentów</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul class="todo-list" ng-show="departments.length > 0">
                <li ng-repeat="d in departments">
                   <span class="text"> <p ng-click="deleteDep(d)">{{d.name}}</p></span>
                </li>
            </ul>
            <h3 ng-show="departments.length <= 0">Brak departamentów</h3>
        </div>
        <!-- /.box-body -->
    </div>




</div>