<div class="col-md-10 mainView">

<h1>{{stats.name}}</h1>
    <h3>{{stats.creationDate}}</h3>
    <p>{{stats.description}}</p>
    <ul>
        <li ng-repeat="question in stats.questionsStats">
            <p>{{question.text}}</p>
            <div ng-switch="question.questionType">
                <div ng-switch-when="TEXT">
                    <ul>
                        <li ng-repeat="answer in question.textAnswers">
                            <p>{{answer.text}}</p>
                        </li>
                    </ul>
                </div>
                <div ng-switch-default>
                    <ul>
                        <li ng-repeat="answer in question.answersStats">
                            <p>{{answer.answerText}} - {{answer.count}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>