<div class="col-md-10 mainView">
<h1>Ankiety</h1>
    <a class="btn btn-info" href="#!new-questionnaire">Utwórz</a>
    <ul ng-show="questionnaires.length > 0">
        <table class="table table-condensed" style="margin-top: 50px">
            <tr>
                <th>Nazwa</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="q in questionnaires">
                <td>{{q.name}}</td>
                <td><a class="btn btn-info" href="#!/questionnaire/{{q.id}}">szczegóły</a></td>
                <td><a class="btn btn-warning" href="#!/questionnaire/stats/{{q.id}}">statystyki</a></td>
                <td><button class="btn btn-danger" ng-click="deleteQuestionnaire(q)">Usuń</button></td>
            </tr>
        </table>
    </ul>
    <h3 ng-show="questionnaires.length <= 0">Brak ankiet</h3>
</div>