<div class="col-md-10 mainView">
<h1>Nowa ankieta</h1>
    <form ng-model="questionnaire">
        <div class="form-group">
            <button class="btn btn-primary" ng-click="saveQuestionnaire()">Zapisz</button><br>
        </div>
        <div class="form-group">
            <label>Nazwa</label><input class="form-control" type="text" ng-model="questionnaire.name">
        </div>
        <div class="form-group">
            <label>Opis</label><input class="form-control" type="text" ng-model="questionnaire.description">
        </div>
        <p>Pytania</p>
        <button class="btn btn-success" ng-click="addQuestion()">Dodaj pytanie</button>
        <ul>
           <li ng-repeat="question in questionnaire.questions">
               <hr/>

               <div class="form-group">
               <input placeholder="Pytanie" class="form-control" type="text" ng-model="question.text">
               <select class="form-control" name="question-type-select" ng-model="question.type">
                   <option value="SINGLE">Jednokrotnego wyboru</option>
                   <option value="MULTIPLE">Wielokrotnego wyboru</option>
                   <option value="TEXT">Otwarte</option>
               </select>
               </div>
               <button class="btn btn-danger" ng-click="deleteQuestion(question)">Usuń</button>

               <div ng-show="question.type=='SINGLE'||question.type=='MULTIPLE'">
                   <h2>Odpowiedzi</h2>
                   <button class="btn btn-info" ng-click="addAnswer(question)">Dodaj odpowiedź</button>
                   <ul>
                       <li ng-repeat="answer in question.answers">
                           <div class="form-group">
                            <input class="form-control" type="text" ng-model="answer.text">
                            <button class="btn btn-danger" ng-click="deleteAnswer(question.answers, answer)">Usuń</button>
                           </div>
                       </li>
                   </ul>
               </div>
           </li>
        </ul>
        <h2>Departamenty</h2>
        <button class="btn btn-success" ng-click="addDepartment()">Dodaj</button>
        <ul>
            <li ng-repeat="department in questionnaire.departments">
                <div class="form-group">
                <select class="form-control" ng-model="department.id">
                    <option ng-repeat="d in departments" value="{{d.id}}">{{d.name}}</option>
                </select>
                <button class="btn btn-danger" ng-click="deleteDepartment(department)">Usuń</button>
                </div>
            </li>
        </ul>
        <h2>Katedry</h2>
        <button class="btn btn-primary" ng-click="addCathedral()">Dodaj</button>
        <ul>
            <li ng-repeat="cathedral in questionnaire.cathedrals">
                <div class="form-group">

                    <select class="form-control" ng-model="cathedral.id">
                        <option ng-repeat="c in cathedrals" value="{{c.id}}">{{c.name}}</option>
                    </select>
                    <button class="btn btn-danger" ng-click="deleteCathedral(cathedral)">Usuń</button>
                </div>
            </li>
        </ul>
    </form>
</div>