<div class="col-md-10 mainView">
    <h1>{{questionnaire.name}}</h1>
    <h3>Opis</h3>
    <p>{{questionnaire.description}}</p>
    <h3>Pytania</h3>
    <ul>
        <li ng-repeat="question in questionnaire.questions">
            <p>{{question.text}}</p>
            <p>{{question.type}}</p>
            <h4>Odpowiedzi</h4>
            <div ng-switch="question.type">
                <div ng-switch-when="SINGLE">
                    <select ng-model="question.response">
                        <option ng-repeat="answer in question.answers" ng-value="answer.id">{{answer.text}}</option>
                    </select>
                </div>
                <div ng-switch-when="MULTIPLE">
                    <label ng-repeat="answer in question.answers">
                        <input type="checkbox" checklist-model="question.responses" checklist-value="answer.id">{{answer.text}}
                    </label>
                </div>
                <div ng-switch-when="TEXT">
                    <textarea ng-model="question.textResponse"></textarea>
                </div>
            </div>
        </li>
    </ul>

    <button ng-click="submit()">Prześlij</button>

</div>