<div class="col-md-10 mainView">

<h1>{{questionnaire.name}}</h1>
    <h3>Opis</h3>
    <p>{{questionnaire.description}}</p>
    <h3>Pytania</h3>
    <ul>
        <li ng-repeat="question in questionnaire.questions">
            <p>{{question.text}}</p>
            <p>{{question.type}}</p>
            <h4>Odpowiedzi</h4>
            <ul ng-show="question.type=='SINGLE'||question.type=='MULTIPLE'">
                <li ng-repeat="answer in question.answers">
                    <p>{{answer.text}}</p>
                </li>
            </ul>
        </li>
    </ul>
    <h3>Udostępnione dla:</h3>
    <div ng-show="questionnaire.departments.length>0">
        <h4>Departamenty</h4>
        <ul>
            <li ng-repeat="department in questionnaire.departments">
                <p>{{department.name}}</p>
            </li>
        </ul>
    </div>
    <div ng-show="questionnaire.cathedrals.length>0">
        <h4>Katedry</h4>
        <ul>
            <li ng-repeat="cathedral in questionnaire.cathedrals">
                <p>{{cathedral.name}}</p>
            </li>
        </ul>
    </div>
    <h4 ng-show="questionnaire.cathedrals.length<=0&&questionnaire.departments.length<=0">Nieudostępnione</h4>
</div>