.login { height: 100%; background: url("../img/bg-login.jpg") no-repeat; background-size: cover; }
.login #logbox { padding: 10px; margin: 50px auto; width: 340px; background-color: #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.login #logbox h1 { text-align: center; font-size: 175%; color: #757575; font-weight: 300; }
.login #logbox h1, .login #logbox input { font-family: "Open Sans", Helvetica, sans-serif; }
.login #logbox .input { width: 75%; height: 50px; display: block; margin: 0 auto 15px; padding: 0 15px; border: none; border-bottom: 2px solid #ebebeb; }
.login #logbox .input:focus { outline: none; border-bottom-color: #3CC !important; }
.login #logbox .input:hover { border-bottom-color: #dcdcdc; }
.login #logbox .inputButton { position: relative; width: 85%; height: 50px; display: block; margin: 30px auto 30px; color: white; background-color: #3CC; border: none; box-shadow: 0 5px 0 #2CADAD; }
.login #logbox .inputButton:hover { top: 2px; box-shadow: 0 3px 0 #2CADAD; }
.login #logbox .inputButton:active { top: 5px; box-shadow: none; }
.login #logbox .register { text-decoration:none; text-align: center; padding-top:15px}

.container-fluid { padding: 0 !important; }
.container-fluid header { height: 60px; background: #3c8dbc; }
.container-fluid header .logo { background: #367fa9; height: 100%; }
.container-fluid header .logo h2 { color: #ffffff; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; line-height: 50px; text-align: center; padding: 5px; margin: 0; }
.container-fluid header .logo h2 span { font-weight: bold; }
.container-fluid .sidebar { background: #222d32; min-height: 100%; padding: 0; }
.container-fluid .sidebar .user { padding: 10px 0 30px 0; margin-top: 10px; text-align: center; }
.container-fluid .sidebar .user h6 { text-align: center; }
.container-fluid .sidebar .user h6 a { font-size: 22px; color: #ffffff; text-decoration: none; }
.container-fluid .sidebar .user a { color: #2CADAD; }
.container-fluid .sidebar .header { background: #1a2226; color: #4b646f; text-transform: uppercase; text-align: center; padding: 5px 0; }
.container-fluid .sidebar ul { margin-top: 20px; }
.container-fluid .sidebar ul li { position: relative; margin: 0; padding: 0; }
.container-fluid .sidebar ul li a { color: #b8c7ce; border-left: 3px solid transparent; padding: 12px 5px 12px 15px; display: block; -webkit-transition: 0.2s; transition: 0.2s; text-decoration: none; }
.container-fluid .sidebar ul li a span { padding-left: 30px; }
.container-fluid .sidebar ul li:hover a { color: #fff; background: #1e282c; border-left-color: #3c8dbc; }

.mainView { background: #ecf0f5; }
.mainView .surveyList li { border-radius: 2px; padding: 10px; background: #f4f4f4; margin-bottom: 2px; border-left: 2px solid #e6e7e8; color: #444; }
.mainView .surveyList li span { width: 30px; display: inline-block; }
.mainView .surveyList li a { width: 100%; }
.mainView .box-header { color: #444; display: block; padding: 10px; position: relative; }
.mainView .box { position: relative; border-radius: 3px; background: #ffffff; border-top: 3px solid #d2d6de; margin-bottom: 20px; width: 100%; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
.mainView .box-primary { border-top-color: #3c8dbc; }
.mainView .box-header { color: #444; display: block; padding: 10px; position: relative; }
.mainView .box-header .box-title { display: inline-block; font-size: 18px; margin: 0; line-height: 1; }
.mainView .box-body { border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; padding: 10px; }
.mainView .box-body li { border-radius: 2px; padding: 10px; background: #f4f4f4; margin-bottom: 2px; border-left: 2px solid #e6e7e8; color: #444; }
.mainView .bg-aqua { background: #00c0ef !important; }
.mainView .bg-green { background: #00a65a !important; }
.mainView .bg-yellow { background: #f39c12 !important; }
.mainView .bg-red { background: #dd4b39 !important; }
.mainView .small-box { border-radius: 2px; position: relative; display: block; margin-bottom: 20px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
.mainView .small-box .inner { padding: 10px; color: #fff !important; }
.mainView .small-box h3 { font-size: 38px; font-weight: bold; margin: 0 0 10px 0; white-space: nowrap; padding: 0; }
.mainView .small-box p { font-size: 15px; }
.mainView .small-box .icon { -webkit-transition: all 0.3s linear; transition: all 0.3s linear; position: absolute; top: -10px; right: 10px; z-index: 0; font-size: 90px; color: rgba(0, 0, 0, 0.15); }

/*# sourceMappingURL=main.css.map */