<!DOCTYPE html>
<html lang="en" style="height: 100%;" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title tiles:fragment="title">PRZ Questionnaire</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"  href="../../static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"  href="../../static/css/main.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
</head>
<body class="login" >

    <div class="container" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div class="col-md-12" style="height: 100%;">
                <div id="logbox"  >
                    <form id="signup" name="f" method="post" th:action="@{/login}" >
                        <h1>Login</h1>
                        <input id="username" name="username" type="text" placeholder="Nazwa użytkownika" class="input pass"/>
                        <input id="password" name="password" type="password" placeholder="Hasło" required="required" class="input pass"/>
                        <input type="submit" value="Zaloguj" class="inputButton"/>
                        <a href="/register" class="inputButton register">Zarejestruj</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>