<!DOCTYPE html>
<html lang="en" style="height: 100%;" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title tiles:fragment="title">PRZ Questionnaire</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/reset.css}" href="../../static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" href="../../static/css/main.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="login" >

<div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="col-md-12" style="height: 100%;">
            <div id="logbox"  >
                <form id="signup" name="f" method="post" th:action="@{/register}" modelAttribute="employee">
                    <h1>Zarejestruj</h1>
                    <input path="login" id="login" name="login" type="text" placeholder="Nazwa użytkownika" class="input pass"/>
                    <input path="firstName" id="firstName" name="firstName" type="text" placeholder="Imię" class="input pass"/>
                    <input path="lastName" id="lastName" name="lastName" type="text" placeholder="Nazwisko" class="input pass"/>
                    <input path="email" id="email" name="email" type="email" placeholder="Adres email" class="input pass"/>
                    <input path="confirmedEmail" id="confirmedEmail" name="confirmedEmail" type="email" placeholder="Powtórz adres email" class="input pass"/>
                    <input path="password" id="password" name="password" type="password" placeholder="Hasło" required="required" class="input pass"/>
                    <input path="confirmedPassword" id="confirmedPassword" name="confirmedPassword" type="password" placeholder="Powtórz hasło" required="required" class="input pass"/>
                    <input type="submit" value="Zarejestruj" class="inputButton"/>
                    <a href="/login" class="inputButton register">Zaloguj</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>